<!-- ---------------------------------------------------------------------------------------- Navigacija -->

<nav
  class="navbar navbar-expand-sm navbar-dark"
  ng-init="CheckAdmin(); CheckLoggedIn(); blabla()"
>
  <a class="navbar-brand text-primary" href="#"
    ><img src="assets/img/logo.png" width="30" height="30" alt="logo" />
    Digipedia</a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-list"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-if="loggedin"></li>
      <li class="nav-item" ng-if="admin"></li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" ng-if="admin">
        <a class="nav-link text-primary" href="">Administracija</a>
      </li>
      <li class="nav-item" ng-if="!loggedin">
        <a class="nav-link text-primary" href="" ng-click="modalLogIn()"
          ><i class="fa fa-user"></i> Prijava</a
        >
      </li>
      <li class="nav-item" ng-if="!loggedin">
        <a class="nav-link text-primary" href="" ng-click="modalSignUp()"
          ><i class="fa fa-sign-in"></i> Registracija</a
        >
      </li>
      <li class="nav-item" ng-if="loggedin">
        <button class="btn btn-lg btn-warning" ng-click="Logout()">
          Odjava
        </button>
      </li>
    </ul>
  </div>
</nav>

<div ng-if="!admin">
  <div class="d-flex justify-content-center mt-6">
    <h2 class="text-white mt-6">Greška</h2>
  </div>
</div>

<!-- ---------------------------------------------------------------------------------------- Seredina stranice -->

<div ng-if="admin">
  <div class="row">
    <section class="col-sm-10 lijevo">
      <div>
        <form>
          <div
            class="container-fluid d-flex justify-content-between"
            style="margin: 30px 0;"
          >
            <div class="gumbi">
              <button
                class="btn btn-primary btn-lg text-dark"
                href=""
                ng-click="modalSignUp()"
              >
                <i class="fa fa-plus"></i> Dodaj korisnika
              </button>
            </div>

            <h1 class="text-white">Korisnici</h1>

            <p></p>
          </div>
        </form>
        <div class="text-white" ng-init="getUsers()">
          <table class="table table-dark text-center" style="font-size: 23px;">
            <thead>
              <tr>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Email</th>
                <th scope="col">Brisanje</th>
              </tr>
            </thead>
            <tbody ng-repeat="user in users">
              <tr>
                <td>{{user.korisnicko_ime}}</td>
                <td>{{user.ime}}</td>
                <td>{{user.prezime}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button
                    class="btn btn-md btn-danger mb-3"
                    ng-click="DeleteUser(user.id)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- ---------------------------------------------------------------------------------------- Kategorije sa strane -->

    <section class="col-sm-2 desno">
      <h1 class="text-white">Izbornik</h1>
      <article>
        <a href="#!administration_users">
          <button type="button" class="btn btn-primary">
            <h5>Korisnici</h5>
          </button>
        </a>
      </article>
      <article>
        <a href="#!administration_categorys">
          <button type="button" class="btn btn-primary">
            <h5>Kategorije</h5>
          </button>
        </a>
      </article>
      <article>
        <a href="#!administration_articles">
          <button type="button" class="btn btn-primary">
            <h5>Članci</h5>
          </button>
        </a>
      </article>
    </section>
  </div>
</div>

<!-- ---------------------------------------------------- Dodavanje korisnika -->

<div class="modal fade" id="modalSignUp" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registracija</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="register">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="card-wrapper">
                <div>
                  <div
                    class="alert {{alertClass}} alert-dismissible text-center"
                    ng-show="alertMsg"
                  >
                    <a
                      href=""
                      class="close"
                      ng-click="closeMsg()"
                      aria-label="close"
                      >&times;</a
                    >{{alertMessage}}
                  </div>
                  <form>
                    <div>
                      <label for="name">Korisničko ime</label>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        required
                        autofocus
                        ng-model="username"
                      />
                    </div>

                    <div>
                      <label for="password">Lozinka</label>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        required
                        data-eye
                        ng-model="password"
                      />
                    </div>

                    <div class="form-group" ng-init="GetUserType()">
                      <label for="select_tip">Odaberite tip</label>
                      <select
                        class="form-control"
                        ng-model="tip_input"
                        id="select_tip"
                      >
                        <option ng-repeat="tip in tipovi" value="{{tip.tip}}">
                          {{ tip.tip }}
                        </option>
                      </select>
                    </div>

                    <div>
                      <label>Ime</label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        data-eye
                        ng-model="ime"
                      />
                    </div>
                    <div>
                      <label>Prezime</label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        data-eye
                        ng-model="prezime"
                      />
                    </div>
                    <div>
                      <label>Email</label>
                      <input
                        type="email"
                        class="form-control"
                        required
                        data-eye
                        ng-model="email"
                      />
                    </div>
                    <br />
                    <div>
                      <button
                        ng-disabled="!username || username ==0 || !password || password ==0 || !ime || ime ==0 || !prezime || prezime ==0 || !email || email ==0"
                        class="btn btn-primary btnRegister"
                        ng-click="AddUser()"
                      >
                        Registracija
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------- Prijava -->

<div class="modal fade" id="modalLogIn" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prijava</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="login">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="card-wrapper">
                <div>
                  <div>
                    <form>
                      <div>
                        <label for="name">Korisničko ime</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          required
                          autofocus
                          ng-model="username"
                        />
                      </div>

                      <div>
                        <label for="password">Lozinka</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          required
                          data-eye
                          ng-model="password"
                        />
                      </div>
                      <br />
                      <div>
                        <button
                          ng-disabled="!username || username ==0 || !password || password ==0"
                          class="btn btn-primary btnLogin"
                          ng-click="Login()"
                        >
                          Prijava
                        </button>
                      </div>
                      <br />
                      <div class="margin-top20 text-center">
                        Niste registrirani?
                        <a href="" ng-click="OtvoriModalReg()">Registracija</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>
