<!-- ---------------------------------------------------------------------------------------- Navigacija -->

<nav
  class="navbar navbar-expand-sm navbar-dark"
  ng-init="CheckAdmin(); CheckLoggedIn()"
>
  <a class="navbar-brand text-primary" href="#"
    ><img src="assets/img/logo.png" width="30" height="30" alt="logo" />
    Digipedia</a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-list"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-if="loggedin"></li>
      <li class="nav-item" ng-if="admin"></li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" ng-if="admin">
        <a class="nav-link text-primary" href="">Administracija</a>
      </li>
      <li class="nav-item" ng-if="!loggedin">
        <a class="nav-link text-primary" href="" ng-click="modalLogIn()"
          ><i class="fa fa-user"></i> Prijava</a
        >
      </li>
      <li class="nav-item" ng-if="!loggedin">
        <a class="nav-link text-primary" href="" ng-click="modalSignUp()"
          ><i class="fa fa-sign-in"></i> Registracija</a
        >
      </li>
      <li class="nav-item" ng-if="loggedin">
        <button class="btn btn-lg btn-warning" ng-click="Logout()">
          Odjava
        </button>
      </li>
    </ul>
  </div>
</nav>

<div ng-if="!admin">
  <div class="d-flex justify-content-center mt-6">
    <h2 class="text-white mt-6">Greška</h2>
  </div>
</div>

<!-- ---------------------------------------------------------------------------------------- Seredina stranice -->

<div ng-if="admin">
  <div class="row">
    <section class="col-sm-10 lijevo" ng-init="getArticles()">
      <div class="text-white">
        <form>
          <div
            class="container-fluid d-flex justify-content-between"
            style="margin: 30px 0;"
          >
            <div class="gumbi">
              <button
                ng-if="admin"
                class="btn bg-primary btn-lg dodavanje_kategorije"
                ng-click="modaldodavanjeKategorije()"
              >
                <i class="fa fa-plus"></i> Dodaj kategoriju
              </button>
            </div>

            <h1 class="text-white">Kategorije</h1>

            <p></p>
          </div>
        </form>
      </div>
      <div class="text-white" ng-init="getCategories()">
        <table class="table table-dark text-center" style="font-size: 23px;">
          <thead>
            <tr>
              <th scope="col">Naziv kategorije</th>
              <th scope="col">Brisanje</th>
            </tr>
          </thead>
          <tbody ng-repeat="category in categories">
            <tr>
              <td>{{category.categoryName}}</td>
              <td>
                <button
                  class="btn btn-md btn-danger mb-3"
                  ng-click="DeleteCategory(category.categoryID)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- ---------------------------------------------------------------------------------------- Kategorije sa strane -->

    <section class="col-sm-2 desno">
      <h1 class="text-white">Izbornik</h1>
      <article>
        <a href="#!administration_users">
          <button type="button" class="btn btn-primary">
            <h5>Korisnici</h5>
          </button>
        </a>
      </article>
      <article>
        <a href="#!administration_categorys">
          <button type="button" class="btn btn-primary">
            <h5>Kategorije</h5>
          </button>
        </a>
      </article>
      <article>
        <a href="#!administration_articles">
          <button type="button" class="btn btn-primary">
            <h5>Članci</h5>
          </button>
        </a>
      </article>
    </section>
  </div>
</div>

<!-- ---------------------------------------------------- Dodavanje kategorije -->

<div class="modal fade" id="modaldodavanjeKategorije" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj kategoriju</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Naziv kategorije</label>
            <input
              type="text"
              class="form-control"
              rows="3"
              ng-model="kategorijaName"
            />
          </div>
          <button
            class="btn btn-md btn-success"
            ng-click="AddCategory()"
            style="float: right;"
          >
            Dodaj kategoriju
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>
