<!-- ---------------------------------------------------------------------------------------- Navigacija -->

<nav
  class="navbar navbar-expand-sm navbar-dark"
  ng-init="CheckAdmin(); CheckLoggedIn()"
>
  <a class="navbar-brand text-primary" href="#"
    ><img src="assets/img/logo.png" width="30" height="30" alt="logo" />
    Digipedia</a
  >
  <!-- button za mobilnu verziju ili kada se minimizira ekran-->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-list"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>

  </button>
  <div class="navbar-collapse collapse w-100 order-3" id="navbar-list">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ng-if="admin">
          <a class="nav-link text-primary" href="#!administration_users">Administracija</a
        ></li>
        <li class="nav-item" ng-if="!loggedin">
          <a class="nav-link text-primary" href="" ng-click="modalLogIn()"
            ><i class="fa fa-user"></i> Prijava</a
          >
        </li>
        <li class="nav-item" ng-if="!loggedin">
          <a class="nav-link text-primary" href="" ng-click="modalSignUp()"
            ><i class="fa fa-sign-in"></i> Registracija</a
          >
        </li>
        <li class="nav-item" ng-if="loggedin">
          <button class="btn btn-lg btn-warning" ng-click="Logout()">
            Odjava
          </button>
        </li>
      </ul>
  </div>
</nav>

<!-- ---------------------------------------------------------------------------------------- Seredina stranice -->

<div class="row">
  <section
    class=" lijevo clanciUkategoriji col-sm-10 " 
    ng-init="getArticleByType()"
  >
  <div class="container-fluid pretrazivanje">
    <!-- ---------------------------------------------------------------- Pretrazivanje -->
    <input
      style="display: inline-block;"
      class="form-control form-control-sm ml-3 w-100"
      type="text"
      placeholder="Pretražite"
      aria-label="Search"
      ng-model="inputTekst"
    />
  </div>
  
  <!-- ---------------------------------------------------------------- Naslov -->
  <div class="container-fluid d-flex"  ng-class="{' justify-content-between': loggedin, ' justify-content-center': !loggedin}" >

    <div class="gumbi">
      <button ng-if="loggedin" class="btn bg-success btn-lg dodavanje_clanka" ng-click="modaldodavanjeClanka()">
        <i class="fa fa-plus"></i> Dodaj članak
      </button>
      <button ng-if="admin" class="btn bg-success btn-lg dodavanje_kategorije" ng-click="modaldodavanjeKategorije()">
        <i class="fa fa-plus"></i> Dodaj kategoriju
      </button>
    </div>

    <div style="display: inline-block;" >
      <h2 class="text-white d-inline naslov">{{ime_kategorije}}</h2>
    </div>

    
   <div></div>
  </div>

    <!-- ---------------------------------------------------------------- Članci -->
    <article
      class="align-top clanci"
      ng-repeat="article in articlesByType | orderBy:'article_id':true | filter: inputTekst"
    >
      <a href="" ng-click="SingleArticle(article)" class="custom-card">
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top slikaKartice"
            src="{{article.image}}"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title text-center text-primary">
              {{article.article_title}}
            </h5>
            <p class="card-text text-white">
              {{article.article_content | strLimit: 135 }}
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="" ng-click="SingleArticle(article)" class="btn btn-primary"
              >Više..</a
            >
          </div>
        </div>
      </a>
    </article>
  </section>

<!-- ---------------------------------------------------------------------------------------- Kategorije sa strane -->

  <section class="col-sm-2 desno" ng-init="getCategories()">
    <h1 class="text-white">Kategorije</h1>
    <article ng-repeat="category in categories">
      <button
        type="button"
        class="btn btn-primary"
        ng-click="GetAllFromCategory(category.categoryID,category.categoryName)"
      >
        <h5>{{category.categoryName}}</h5>
      </button>
    </article>
    <div style="height: 115px;"></div>
  </section>
</div>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------- Modali -->
<!-- --------------------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------- Prijava -->

<div class="modal fade" id="modalLogIn" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prijava</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="login">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="card-wrapper">
                <div>
                  <div>
                    <form>
                      <div>
                        <label for="name">Korisničko ime</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          required
                          autofocus
                          ng-model="username"
                        />
                      </div>

                      <div>
                        <label for="password">Lozinka</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          required
                          data-eye
                          ng-model="password"
                        />
                      </div>
                      <br />
                      <div>
                        <button
                          ng-disabled="!username || username ==0 || !password || password ==0"
                          class="btn btn-primary btnLogin"
                          ng-click="Login()"
                        >
                          Prijava
                        </button>
                      </div>
                      <br />
                      <div class="margin-top20 text-center">
                        Niste registrirani?
                        <a href="" ng-click="OtvoriModalReg()">Registracija</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------- Registracija -->

<div class="modal fade" id="modalSignUp" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registracija</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="register">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="card-wrapper">
                <div>
                  <div>
                    <form>
                      <div>
                        <label for="name">Korisničko ime</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          required
                          autofocus
                          ng-model="username"
                        />
                      </div>

                      <div>
                        <label for="password">Lozinka</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          required
                          data-eye
                          ng-model="password"
                        />
                      </div>
                      <br />
                      <div>
                        <button
                          ng-disabled="!username || username ==0 || !password || password ==0"
                          class="btn btn-primary btnRegister"
                          ng-click="Register()"
                        >
                          Registracija
                        </button>
                      </div>
                      <br />
                      <div class="margin-top20 text-center">
                        Imate račun?
                        <a href="" ng-click="OtvoriModalLog()">Prijava</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------- Dodavanje clanaka -->

<div class="modal fade" id="modaldodavanjeClanka" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj članak</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" ng-init="getCategories()">
            <label for="select_kategorija">Odaberite kategoriju</label>
            <select
              class="form-control"
              ng-model="category"
              id="select_kategorija"
            >
              <option
                ng-repeat="category in categories"
                value="{{category.categoryID}}"
              >
                {{ category.categoryName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="input_article_title">Naslov članka</label>
            <input
              class="form-control"
              id="input_article_title"
              rows="3"
              ng-model="article_title"
            />
          </div>
          <div class="form-group">
            <label for="input_article_content">Sadržaj članka</label>
            <textarea
              class="form-control"
              id="input_article_content"
              rows="3"
              ng-model="article_content"
            ></textarea>
          </div>

          <!-- ---------------------------------------------------------------- Upload slika -->
          <p>Slika mora biti u .jpg formatu</p>
          <input data-my-Directive type="file" name="file" />

          <button
            class="btn btn-md btn-primary"
            ng-click="AddArticle(); modaldodavanjeclose()"
            style="float: right;"
          >
            Dodaj članak
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------- Dodavanje kategorije -->

<div class="modal fade" id="modaldodavanjeKategorije" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj kategoriju</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label>Naziv kategorije</label>
              <input type="text" class="form-control"  rows="3" ng-model="kategorijaName"></input>
          </div>
          <button class="btn btn-md btn-success" ng-click="AddCategory()" style="float:right">Dodaj
              kategoriju</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Zatvori
        </button>
      </div>
    </div>
  </div>
</div>